[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = lawrenze95
	email = 38470728+lawrenze95@users.noreply.github.com
